# Entorno virtual
venv/

# Python cache
**/__pycache__/
*.py[cod]

# Editor config
.vscode/

# pdf's generados
made_reports/templates

# Debuger
debug.py

# Jupyter notebook checkpoints
journal/.ipynb_checkpoints/

debug_whatsapp.html